{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}


<jh-layout-v3>

  <template slot="serverSearch">
    <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}" style="justify-content: end">
      <v-col cols="12" sm="10" xs="8" md="5" xl="3" :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}">
        <v-select prefix="会计期间" :items="periodList" item-text="periodId" item-value="periodId" hide-details dense filled multiple v-model="serverSearchInput.periodIds"></v-select>
      </v-col>

      <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="max-width: 77px">
        <v-btn
          class="elevation-0"
          color="success"
          dark
          @click="doUiAction('refreshTableData')"
        >
          查询
        </v-btn>
      </v-col>
    </v-row>
  </template>

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-row>
    <v-col cols="2">
      <v-card height="500" class="overflow-y-auto">
        <v-sheet class="pa-4">
          <v-text-field
            v-model="search"
            label="过滤科目"
            flat
            solo-inverted
            hide-details
            clearable
            clear-icon="mdi-close-circle-outline"
          ></v-text-field>
          <!-- <v-checkbox
            v-model="caseSensitive"
            hide-details
            label="是否区分大小写"
          ></v-checkbox> -->
        </v-sheet>

        <v-treeview
          hoverable
          activatable
          dense
          :active="defaultActiveSubjectId"
          open-on-click
          key="subjectId"
          :items="subjectList"
          item-text="subjectName"
          item-key="subjectId"
          color="primary"
          :search="search"
          :filter="filter"
        >
        <template v-slot:label="{ item }">
          <div @click="doUiAction('handleTreeviewClick',{ item })">
            {{item.subjectId}} {{item.subjectName}}
          </div>
        </template>
        <template v-slot:prepend="{ item, open }">
          <v-icon>
            mdi-file
          </v-icon>
        </template>
      </v-treeview>
      </v-card>
    </v-col>
    <v-col cols="10">
      <v-card>
      <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
    
          <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
            <span class="body-2">共{{ tableData.length }}条记录</span>
          </v-col>
    
          <v-spacer></v-spacer>
    
          <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
            <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <v-data-table height="500" fixed-header
                      :headers="headers"
                      :items="tableData"
                      :search="searchInput"
                      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                      :items-per-page="20"
                      mobile-breakpoint="0"
                      :loading="isTableLoading"
                      checkbox-color="success"
                      class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
        
      </v-card>
    </v-col>
  </v-row>
</v-container>


</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantCollection: {
    },

    serverSearchInput: {
      subjectId: '',
      periodIds: []
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "凭证字号", value: "voucherId", width: 120, class: 'fixed', cellClass: 'fixed'}, 
      {text: "会计期间", value: "periodId", width: 120, class: 'fixed', cellClass: 'fixed'}, 
      // {text: "凭证字", value: "voucherName", width: 120}, 
      {text: "借方金额", value: "debit", width: 80}, 
      {text: "贷方金额", value: "credit", width: 80}, 
      {text: "余额", value: "balance", width: 80}, 
      {text: "方向", value: "subjectBalanceDirection", width: 80}, 
      
      {text: "凭证时间", value: "voucherAt", width: 120}, 
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
    ],

    subjectList: [],
    search: null,
    caseSensitive: false,
    periodList: [],
    defaultActiveSubjectId: []
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    },
    filter () {
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined
    },
  },
  watch: {
    
  },
  async created() {

    await Promise.all([
      this.doUiAction('getSubjectList'),
      this.doUiAction('getPeriodList'),
    ]);
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'getSubjectList':
          await this.getSubjectList();
          break;
        case 'getPeriodList':
          await this.getPeriodList();
          break;
        case 'handleTreeviewClick':
          this.handleTreeviewClick(uiActionData);
          this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },


    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const { periodIds, ...serverSearchInputData } = serverSearchInput

      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'accountDetailsManagement',
            actionId: 'selectVoucherEntryList',
            actionData: {},
            whereIn: { periodId: periodIds},
            where: serverSearchInputData,
            orderBy: [{column: 'voucherAt', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = this._countVoucherEntryBalance(rows);
      this.isTableLoading = false;
    },
    _countVoucherEntryBalance(rows) {
      let prev = {}
      return rows.map(item=> {
        item.balance = (prev.balance || 0) + (item.debit - item.credit)
        prev = item
        return item
      })
     
    },
    // =================================uiAction 公共方法 end ======================================
    async getSubjectList() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'accountDetailsManagement',
            actionId: 'selectSubjectList',
            actionData: {},
            where: {},
            orderBy: [{column: 'subjectId', order: 'asc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.subjectList = rows;
      this.serverSearchInput.subjectId = rows[0].subjectId
      // 默认第一个，直接默认值的话，会影响下次点击的效果
      this.defaultActiveSubjectId = [rows[0].subjectId]
    },

    async getPeriodList() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'accountDetailsManagement',
            actionId: 'selectPeriodList',
            actionData: {},
            where: {},
            orderBy: [{column: 'periodId', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.periodList = rows;
      this.serverSearchInput.periodIds = rows.reduce((prev, next)=> [...prev, next.periodId], [])

    },

    async handleTreeviewClick({ item }) {
      this.serverSearchInput.subjectId = item.subjectId
    }
  }
})
</script>

<style scoped>
  .v-treeview-node__level {
    width: 0;
  }
</style>
{% endblock %}
