{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}
<jh-layout-v3  v-slot="{ isMobile }">

    <v-form v-model="isFormValid" ref="form">
        <v-row dense no-gutters>
          <v-col cols="9">
            <v-card class="pa-8" flat>
              <div class="transition-swing text-h6">Customer</div>
              <div class="mt-5 transition-swing text-subtitle-2 muted--text">Select or add a customer to a subscription:</div>  
              <v-list class="mt-2">
                <v-list-item>
                  <v-list-item-avatar height="60" width="60">
                    <img
                      src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/300-5.jpg"
                    >
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      <div class="transition-swing text-body-1 font-weight-medium">Sean Bean</div>
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      <div class="transition-swing text-subtitle-2 muted--text">sean@dellito.com</div>  
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
              <v-btn
                    class="elevation-0">
                    Change Customer
              </v-btn>
              <v-alert
                text
                class="mt-8"
                color="success"
              >
                <div class="transition-swing text-body-1 font-weight-medium black--text">This is a very important privacy notice!</div>
                <div class="transition-swing text-subtitle-2 muted--text">
                  <span>Writing headlines for blog posts is much science and probably cool audience. </span>
                  <a
                    href="#"
                    class="text-decoration-none success--text"
                  >Learn more</a>
                </div>  
              </v-alert>
            </v-card>

            <v-card class="pa-8 mt-4" flat>
              <div class="d-flex justify-space-between">
                <div class="transition-swing text-h6">Products</div>
                <v-btn
                    class="elevation-0">
                    Add Product
                </v-btn>
              </div>
              <v-data-table 
                  :headers="headers" 
                  :items="tableData" 
                  class="mt-5"
                  hide-default-footer
                  disable-sort>
                  <template v-slot:item.action="{ item }">
                      <v-icon small role="button">mdi-trash-can-outline</v-icon>
                  </template>
                </v-data-table>
            </v-card>

            <v-card class="px-8 pt-8 mt-4" flat>
              <div class="d-flex justify-space-between">
                <div class="transition-swing text-h6">Payment Method</div>
                <v-btn
                    class="elevation-0">
                    New Method
                </v-btn>
              </div>
              <v-radio-group
                v-model="editItem['method']"
                column
              >
                <v-expansion-panels>
                  <v-expansion-panel v-for="(item, index) in methodData" key="index" class="mt-0">
                    <v-expansion-panel-header class="pa-0">
                      <div class="d-flex">
                        <v-radio
                          color="success"
                          :value="item.id"
                        ></v-radio>
                        <v-list>
                          <v-list-item>
                            <v-list-item-avatar>
                              <img
                                :src="item.imgUrl"
                              >
                            </v-list-item-avatar>
                            <v-list-item-content>
                              <v-list-item-title>
                                <div class="transition-swing text-body-2 font-weight-medium">
                                  <span>{{item.cardName}}</span>
                                  <v-chip
                                    class="ml-2"
                                    :color="item.status === 'Primary' ? 'success' : 'error'"
                                    outlined
                                    x-small
                                  >{{item.status}}
                                  </v-chip>
                                </div>
                              </v-list-item-title>
                              <v-list-item-subtitle>
                                <div class="transition-swing text-body-2 muted--text">{{item.expires}}</div>  
                              </v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list>
                      </div>
                      <template v-slot:actions>
                        <v-icon color="primary">
                          $expand
                        </v-icon>
                      </template>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-row dense>
                        <v-col cols="6">
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Name</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.name}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Number</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.number}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Expires</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.expires}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Type</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.type}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Issuer</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.issuer}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                ID</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.id}}</div>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col cols="6">
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">Billing address</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.billingAddress}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Phone</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.phone}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Email</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.email}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                Origin</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">{{item.origin}}</div>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="4">
                              <div class="mt-1 transition-swing text-body-2 muted--text">
                                CVC check</div>
                            </v-col>
                            <v-col cols="8">
                              <div class="mt-1 transition-swing text-body-2">
                                <span>{{item.CVCcheck}}</span>
                                <v-icon
                                  small
                                  :color="item.CVCcheck === 'Passed' ? 'success' : 'error'"
                                >
                                  {{item.CVCcheck === 'Passed' ? 'mdi-check-circle' : 'mdi-close-circle'}} 
                                </v-icon>
                              </div>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-expansion-panel-content>
                    <v-divider style="border-color: #E4E6EF;border-style: dashed;" v-if="index !== methodData.length - 1"></v-divider>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-radio-group>
            </v-card>

            <v-card class="pa-8 mt-4" flat>
              <div class="transition-swing text-h6">Advanced Options</div>

              <div class="mt-5">
                <div class="d-flex align-center">
                  <div class="transition-swing text-body-1 font-weight-medium">Custom fields</div>
                  <v-tooltip
                      right
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          icon
                          v-bind="attrs"
                          v-on="on"
                        >
                          <v-icon color="grey lighten-1" small>
                            mdi-alert-circle
                          </v-icon>
                        </v-btn>
                      </template>
                      <span>Add custom fields to the billing invoice.</span>
                    </v-tooltip>
                </div>
                <v-data-table 
                  :headers="advancedHeaders" 
                  :items="advancedTableData" 
                  hide-default-footer
                  disable-sort>
                  <template v-slot:item.name="{ item, index }">
                    <v-text-field class="cus-v-input" :rules="requireRules" dense filled single-line 
                      v-model="tableData[index]['name']"></v-text-field>
                  </template>
                  <template v-slot:item.value="{ item, index }">
                    <v-text-field class="cus-v-input" :rules="requireRules" dense filled single-line 
                      v-model="tableData[index]['value']"></v-text-field>
                  </template>
                  <template v-slot:item.action="{ item }">
                      <v-icon small role="button">mdi-trash-can-outline</v-icon>
                  </template>
                </v-data-table>
                <v-btn
                      class="elevation-0 mt-4">
                      Add custom field
                </v-btn>
              </div>

              <div class="mt-7">
                <div class="d-flex align-center">
                  <div class="transition-swing text-body-1 font-weight-medium">Invoice footer</div>
                  <v-tooltip
                      right
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          icon
                          v-bind="attrs"
                          v-on="on"
                        >
                          <v-icon color="grey lighten-1" small>
                            mdi-alert-circle
                          </v-icon>
                        </v-btn>
                      </template>
                      <span>Add an addition invoice footer note.</span>
                    </v-tooltip>
                </div>
                <v-textarea class="cus-v-input" dense filled single-line rows="3"
                :rules="requireRules" v-model="editItem['notes']"></v-textarea>
              </div>

              <v-card class="pa-4 mt-7" flat outlined>
                <div class="d-flex align-center">
                  <div class="transition-swing text-body-1 font-weight-medium">Usage treshold</div>
                  <v-tooltip
                      right
                      max-width="300"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          icon
                          v-bind="attrs"
                          v-on="on"
                        >
                          <v-icon color="grey lighten-1" small>
                            mdi-alert-circle
                          </v-icon>
                        </v-btn>
                      </template>
                      <span>Thresholds help manage risk by limiting the unpaid usage balance a customer can accrue. Thresholds only measure and bill for metered usage (including discounts but excluding tax). 
                        <a
                          href="#"
                          class="text-decoration-none success--text"
                        >Learn more</a>
                      </span>
                    </v-tooltip>
                </div>
                <v-checkbox
                  v-model="editItem['usage']"
                  label="Bill immediately if usage treshold reaches 80%."
                  color="success"
                  value="success"
                  hide-details
                ></v-checkbox>
              </v-card>

              <v-card class="pa-4 mt-7" flat outlined>
                <div class="d-flex align-center">
                  <div class="transition-swing text-body-1 font-weight-medium">Pro-rate billing</div>
                  <v-tooltip
                      right
                      max-width="300"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          icon
                          v-bind="attrs"
                          v-on="on"
                        >
                          <v-icon color="grey lighten-1" small>
                            mdi-alert-circle
                          </v-icon>
                        </v-btn>
                      </template>
                      <span>Pro-rated billing dynamically calculates the remainder amount leftover per billing cycle that is owed.
                        <a
                          href="#"
                          class="text-decoration-none success--text"
                        >Learn more</a>
                      </span>
                    </v-tooltip>
                </div>
                <v-checkbox
                  v-model="editItem['prorate']"
                  label="Allow pro-rated billing when treshold usage is paid before end of billing cycle."
                  color="success"
                  value="success"
                  hide-details
                ></v-checkbox>
              </v-card>
            </v-card>
          </v-col>
  
          <v-col cols="3">
            <v-card flat class="pa-8 ml-4">
              <div class="transition-swing text-h6">Summary</div>
              
              <div class="mt-3">
                <div class="transition-swing text-body-1 font-weight-medium">Customer details</div>
                <div class="mt-1 transition-swing text-subtitle-2 text--secondary">
                  <span>Sean Bean</span>
                  <v-chip
                    class="ml-2"
                    color="success"
                    outlined
                    x-small
                  >Active
                  </v-chip>
                </div>
                <div class="transition-swing text-subtitle-2 muted--text">sean@dellito.com</div>   
              </div>

              <v-divider class="mt-6 mb-4" style="border-color: #E4E6EF;border-style: dashed;"></v-divider>

              <div>
                <div class="transition-swing text-body-1 font-weight-medium">Product details</div>
                <div class="transition-swing text-subtitle-2 muted--text">
                  <v-chip
                    class="mr-2"
                    color="deep-purple accent-4"
                    outlined
                    x-small
                  >
                    Basic Bundle
                  </v-chip>
                  <span>$149.99 / Year</span>
                </div>   
              </div>

              <v-divider class="mt-6 mb-4" style="border-color: #E4E6EF;border-style: dashed;"></v-divider>

              <div>
                <div class="transition-swing text-body-1 font-weight-medium">Payment Details</div>
                <div class="transition-swing text-subtitle-2 muted--text">Mastercard</div>   
                <div class="transition-swing text-subtitle-2 muted--text">Expires Dec 2024</div>   
              </div>

              <v-btn
                  class="elevation-0 mt-10"
                  color="success"
                  block>
                  Create Subscription
              </v-btn>
            </v-card>
          </v-col>
        </v-row>
    </v-form>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
      currencyFilter: [],
      searchText: null,
      isFormValid: true,
      requireRules: [v => true],
      constantCollection: {
     
      },
      editItem: {},
      headers: [
        {text: "PRODUCT", value: "product", width: 300},
        {text: 'QTY', value: 'qty', width: 100},
        {text: 'TOTAL', value: 'total', width: 100},
        {text: 'ACTION', value: 'action', width: 100},
      ],
      advancedHeaders: [
        {text: "FIELD NAME", value: "name", width: 300},
        {text: 'FIELD VALUE', value: 'value', width: 300},
        {text: 'ACTION', value: 'action', width: 100},
      ],
      tableData: [
        {
          product: 'Beginner Plan',
          qty: 1,
          total: '149.99 / Month'
        },
        {
          product: 'Pro Plan',
          qty: 1,
          total: '499.99 / Month'
        }
      ],
      advancedTableData: [
        {
          name: '',
          value: ''
        },
        {
          name: '',
          value: ''
        }
      ],
      methodData: [
        {
          cardName: 'Mastercard',
          status: 'Primary',
          imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/card-logos/mastercard.svg',
          id: 'id_4325df90sdf8',
          name: 'Emma Smith',
          number: '**** 2776',
          expires: '12/2024',
          type: 'Mastercard credit card',
          issuer: 'VICBANK',
          billingAddress: 'AU',
          phone: 'No phone provided',
          email: 'smith@kpmg.com',
          origin: 'Australia',
          CVCcheck: 'Passed'
        },
        {
          cardName: 'Visa',
          status: 'Expired',
          imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/card-logos/visa.svg',
          id: 'id_w2r84jdy723',
          name: 'Emma Smith',
          number: '**** 2776',
          expires: '12/2024',
          type: 'Visa credit card',
          issuer: 'VICBANK',
          billingAddress: 'AU',
          phone: 'No phone provided',
          email: 'smith@kpmg.com',
          origin: 'Australia',
          CVCcheck: 'Failed'
        }
      ],
      serverSearchForm: {
        currency: null,
      },
  }),
  computed: {

   
  },
  watch: {
    searchText(value) {
      value = value && value.toLowerCase();
      const {constantCollection: {currency = []}} = this;
      if (value) {
        this.currencyFilter = currency.slice()
            .filter((v) => v.text && (v.text.toLowerCase().includes(value) || v.text.includes(value)))
        return false;
      }
      this.currencyFilter = currency.slice();
    },
  },
  async created() {
  
  },
  mounted() {
  },
  methods: {
  
  }
})
</script>
<style scoped>
  body span.inputLabel{
    color: #5E6278;
  }
  .muted--text{
    color: #A1A5B7;
  }
  .v-expansion-panel:before{
    box-shadow: none !important;
  }
  .theme--light.v-expansion-panels .v-expansion-panel:not(:first-child):after{
    display: none;
  }
</style>

{% endblock %}
