{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}
<jh-layout-v3  v-slot="{ isMobile }">

    <v-form v-model="isFormValid" ref="form">
        <v-row dense no-gutters>
          <v-col cols="9">
            <v-card class="pa-8" flat>
              <v-row dense>
                <v-col cols="4">
                  <v-text-field class="cus-v-input mr-2" :rules="requireRules" dense filled single-line 
                      prefix="Invoice #：" v-model="editItem['invoice']" placeholder="invoice number"></v-text-field>
                </v-col>
                <v-col cols="4">
                  <v-menu class="cus-v-input mr-2" offset-y max-width="290">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field class="cus-v-input mr-2" :rules="requireRules" dense filled single-line v-on="on"
                        prefix="Date：" v-model="editItem['date']" append-icon="mdi-chevron-down" placeholder="Select date"></v-text-field>
                    </template>
                    <v-date-picker color="success" elevation="20" v-model="editItem['date']"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="4">
                  <v-menu class="cus-v-input mr-2" offset-y max-width="290">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field class="cus-v-input mr-2" :rules="requireRules" dense filled single-line v-on="on"
                        prefix="Du Date：" v-model="editItem['dueDate']" append-icon="mdi-chevron-down" placeholder="Select date"></v-text-field>
                    </template>
                    <v-date-picker color="success" elevation="20" v-model="editItem['dueDate']"></v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <v-divider class="mt-8 mb-6" style="border-color: #E4E6EF;border-style: dashed;"></v-divider>

              <v-row dense>
                <v-col cols="6">
                  <span class="inputLabel">Bill From</span>
                  <v-row dense no-gutters>
                    <v-col cols="12" class="mt-2">
                      <v-text-field class="cus-v-input mr-2" :rules="requireRules" dense filled single-line 
                        prefix="Name：" v-model="editItem['name']"></v-text-field>
                    </v-col>
                    <v-col cols="12" class="mt-4">
                      <v-text-field class="cus-v-input mr-2" :rules="requireRules" dense filled single-line 
                        prefix="Email：" v-model="editItem['email']"></v-text-field>
                    </v-col>
                    <v-col cols="12" class="mt-4">
                      <v-textarea class="cus-v-input mr-2" dense filled single-line rows="3"
                        :rules="requireRules" v-model="editItem['from']" placeholder="Who is this invoice from?"></v-textarea>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="6">
                  <span class="inputLabel">Bill To</span>
                  <v-row dense no-gutters>
                    <v-col cols="12" class="mt-2">
                      <v-text-field class="cus-v-input mr-2" :rules="requireRules" dense filled single-line 
                        prefix="Name：" v-model="editItem['name2']"></v-text-field>
                    </v-col>
                    <v-col cols="12" class="mt-4">
                      <v-text-field class="cus-v-input mr-2" :rules="requireRules" dense filled single-line 
                        prefix="Email：" v-model="editItem['email2']"></v-text-field>
                    </v-col>
                    <v-col cols="12" class="mt-4">
                      <v-textarea class="cus-v-input mr-2" dense filled single-line rows="3"
                        :rules="requireRules" v-model="editItem['for']" placeholder="What is this invoice for?"></v-textarea>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>

              <v-data-table 
                  :headers="headers" 
                  :items="tableData" 
                  class="mt-8"
                  disable-pagination
                  disable-sort>
                  <template v-slot:item.name="{ item, index }">
                    <v-text-field class="cus-v-input" :rules="requireRules" dense filled single-line 
                      v-model="tableData[index]['name']"></v-text-field>
                  </template>
                  <template v-slot:item.description="{ item, index }">
                    <v-text-field class="cus-v-input" :rules="requireRules" dense filled single-line 
                    v-model="tableData[index]['description']"></v-text-field>
                  </template>
                  <template v-slot:item.qty="{ item, index }">
                    <v-text-field class="cus-v-input" :rules="requireRules" dense filled single-line type="number"
                    v-model="tableData[index]['qty']"></v-text-field>
                  </template>
                  <template v-slot:item.price="{ item, index }">
                    <v-text-field class="cus-v-input" :rules="requireRules" dense filled single-line type="number"
                    v-model="tableData[index]['price']"></v-text-field>
                  </template>
                  <template v-slot:item.total="{ item }">
                    $ {{item.price * item.price}}
                  </template>
                  <template v-slot:item.action="{ item }">
                      <v-icon small role="button">mdi-trash-can-outline</v-icon>
                  </template>
                </v-data-table>

                <v-row dense class="mt-8">
                    <v-col cols="12">
                      <span class="inputLabel">Notes</span>
                      <v-textarea class="cus-v-input mr-2 mt-4" dense filled single-line rows="3"
                        :rules="requireRules" v-model="editItem['notes']" placeholder="Thanks for your business"></v-textarea>
                    </v-col>
                </v-row>
            </v-card>
          </v-col>
  
          <v-col cols="3">
            <v-card flat class="pa-8 ml-4">
              <v-row dense>
                <v-col cols="12">
                  <span class="inputLabel">Currency</span>
                  <v-select class="cus-v-input" v-model="serverSearchForm.currency"
                  :items="searchText ? currencyFilter : constantCollection.currency"
                  item-text="text" item-value="value" dense filled single-line
                  placeholder="Select currency">
                    <template v-slot:prepend-item>
                      <v-text-field
                          label="search"
                          clearable
                          v-model="searchText"
                          class="mb-2"
                          prepend-inner-icon="mdi-magnify"
                          dense
                          filled
                          single-line
                          hide-details
                      ></v-text-field>
                    </template>
                  </v-select>
                </v-col>
              </v-row>

              <v-divider class="mt-8 mb-6" style="border-color: #E4E6EF;border-style: dashed;"></v-divider>

              <v-row dense>
                <v-col cols="12" class="d-flex justify-space-between align-center">
                  <span class="inputLabel">Payment method</span>
                  <v-switch
                    v-model="editItem['paymentMethod']"
                    inset
                    dense
                    hide-details
                    class="mt-0"
                  ></v-switch>
                </v-col>
                <v-col cols="12" class="d-flex justify-space-between align-center">
                  <span class="inputLabel">Late fees</span>
                  <v-switch
                    v-model="editItem['lateFees']"
                    inset
                    dense
                    hide-details
                    class="mt-0"
                  ></v-switch>
                </v-col>
                <v-col cols="12" class="d-flex justify-space-between align-center">
                  <span class="inputLabel">Notes</span>
                  <v-switch
                    v-model="editItem['notes']"
                    inset
                    dense
                    hide-details
                    class="mt-0"
                  ></v-switch>
                </v-col>
              </v-row>

              <v-divider class="my-8" style="border-color: #E4E6EF;border-style: dashed;"></v-divider>

              <v-row dense>
                <v-col cols="12">
                  <v-row dense>
                    <v-col cols="6">
                      <v-btn
                          class="elevation-0"
                          block>
                          Preview
                      </v-btn>
                    </v-col>
                    <v-col cols="6">
                      <v-btn
                          class="elevation-0" block>
                          Download
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" class="mt-4">
                  <v-btn
                      class="elevation-0"
                      color="success"
                      block>
                      <v-icon small class="mr-2">mdi-send-outline</v-icon>
                      Send Invoice
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
    </v-form>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
      currencyFilter: [],
      searchText: null,
      isFormValid: true,
      requireRules: [v => true],
      constantCollection: {
        currency: [
          {text: "USD - USA dollar", value: "USD"},
          {text: "GBP - British pound", value: "GBP"}
        ],
      },
      editItem: {},
      headers: [
        {text: "Name", value: "name", width: 120, type: 'text'},
        {text: 'Description', value: 'description', width: 200, type: 'text'},
        {text: 'QTY', value: 'qty', width: 100, type: 'number'},
        {text: 'PRICE', value: 'price', width: 100, type: 'number'},
        {text: 'TOTAL', value: 'total', width: 100},
        {text: 'ACTION', value: 'action', width: 100},
      ],
      tableData: [
        {
          name: 'test1',
          description: 'aaaaaaa',
          qty: 1,
          price: 2
        },
        {
          name: 'test2',
          description: 'bbbbbbbbb',
          qty: 1,
          price: 2
        }
      ],
      serverSearchForm: {
        currency: null,
      },
  }),
  computed: {

   
  },
  watch: {
    searchText(value) {
      value = value && value.toLowerCase();
      const {constantCollection: {currency = []}} = this;
      if (value) {
        this.currencyFilter = currency.slice()
            .filter((v) => v.text && (v.text.toLowerCase().includes(value) || v.text.includes(value)))
        return false;
      }
      this.currencyFilter = currency.slice();
    },
  },
  async created() {
  
  },
  mounted() {
  },
  methods: {
  
  }
})
</script>
<style scoped>
  body span.inputLabel{
    color: #5E6278;
  }
</style>

{% endblock %}
