{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}
<jh-layout-v3  v-slot="{ isMobile }">
  <v-row>
    <v-col cols="3">
      <v-card class="pa-8">
        <div class="text-center">
          <v-avatar
            class="mt-4"
            color="indigo"
            size="81"
          >
            <span class="white--text text-h5">81</span>
          </v-avatar>
          <div class="mt-4 transition-swing text-subtitle-1 font-weight-bold">Max Smith</div>
          <div class="transition-swing text-subtitle-1 muted--text">Software Enginer</div>   
          <div class="d-flex justify-center align-center mt-4">
            <v-card class="pa-2" flat outlined>
              <div class="d-flex justify-space-between align-center">
                <div class="transition-swing text-body-1 font-weight-medium text--secondary">6900</div>
                <v-icon
                  small
                  color="success"
                >
                  mdi-arrow-up
                </v-icon>
              </div>
              <div class="muted--text">Earnings</div>
            </v-card>
            <v-card class="pa-2 ml-2" flat outlined>
              <div class="d-flex justify-space-between align-center">
                <div class="transition-swing text-body-1 font-weight-medium text--secondary">130</div>
                <v-icon
                  small
                  color="error"
                >
                  mdi-arrow-down
                </v-icon>
              </div>
              <div class="muted--text">Tasks</div>
            </v-card>
            <v-card class="pa-2 ml-2" flat outlined>
              <div class="d-flex justify-space-between align-center">
                <div class="transition-swing text-body-1 font-weight-medium text--secondary">500</div>
                <v-icon
                  small
                  color="success"
                >
                  mdi-arrow-up
                </v-icon>
              </div>
              <div class="muted--text">Hours</div>
            </v-card>
          </div>
        </div>
        <div class="d-flex justify-space-between align-center mt-6">
          <div class="transition-swing text-body-1 font-weight-medium">Details</div>
          <v-icon @click="show = !show" role="button" class="ml-2">{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            small>
              Edit
          </v-btn>
        </div>
        <v-expand-transition>
          <div v-show="show">
            <v-divider class="my-6" style="border-color: #E4E6EF;border-style: dashed;"></v-divider>
            <v-chip
              color="deep-purple accent-4"
              outlined
              x-small
            >
              Premium user
            </v-chip>
            <div class="mt-4">
              <div class="transition-swing text-subtitle-2 font-weight-medium">Account ID</div>
              <div class="transition-swing text-subtitle-2 muted--text" style="white-space: initial;">ID-45453423</div>  
            </div>  
            <div class="mt-4">
              <div class="transition-swing text-subtitle-2 font-weight-medium">Billing Email</div>
              <div class="transition-swing text-subtitle-2 muted--text" style="white-space: initial;">info@keenthemes.com</div>  
            </div>  
            <div class="mt-4">
              <div class="transition-swing text-subtitle-2 font-weight-medium">Billing Address</div>
              <div class="transition-swing text-subtitle-2 muted--text" style="white-space: initial;">101 Collin Street,
                Melbourne 3000 VIC
                Australia</div>  
            </div>  
            <div class="mt-4">
              <div class="transition-swing text-subtitle-2 font-weight-medium">Language</div>
              <div class="transition-swing text-subtitle-2 muted--text" style="white-space: initial;">English</div>  
            </div>  
            <div class="mt-4">
              <div class="transition-swing text-subtitle-2 font-weight-medium">Upcoming Invoice</div>
              <div class="transition-swing text-subtitle-2 muted--text" style="white-space: initial;">54238-8693</div>  
            </div>  
            <div class="mt-4">
              <div class="transition-swing text-subtitle-2 font-weight-medium">Tax ID</div>
              <div class="transition-swing text-subtitle-2 muted--text" style="white-space: initial;">TX-8674</div>  
            </div>  
          </div>
        </v-expand-transition>
      </v-card>
      
      <v-card class="pa-8 mt-4">
        <div class="transition-swing text-h6">Connected Accounts</div>
        <v-alert
          text
          class="mt-6"
          color="success"
        >
          <div class="transition-swing text-subtitle-2 muted--text">
            <span>By connecting an account, you hereby agree to our</span>
            <a
              href="#"
              class="text-decoration-none success--text"
            > privacy policy</a>
            <span>and </span>
            <a
              href="#"
              class="text-decoration-none success--text"
            >terms of use</a><span>.</span>
          </div>  
        </v-alert>
        <v-list class="mt-2">
          <template v-for="(item, index) in  accounts" :key="index">
            <v-list-item  class="pa-0">
              <v-list-item-avatar height="30" width="30">
                <img
                  :src="item.imgUrl"
                >
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  <div class="transition-swing text-body-1 font-weight-medium">{{item.name}}</div>
                </v-list-item-title>
                <v-list-item-subtitle>
                  <div class="transition-swing text-subtitle-2 muted--text" style="white-space: initial;">{{item.description}}</div>  
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-switch
                  v-model="editItem['google']"
                  inset
                  dense
                  hide-details
                  class="mt-0"
                ></v-switch>
              </v-list-item-action>
            </v-list-item>
            <v-divider style="border-color: #E4E6EF;border-style: dashed;" v-if="index !== methodData.length - 1"></v-divider>
          </template>
        </v-list>
        <v-btn
            class="elevation-0 mt-4"
            color="success"
            block>
            Save Changes
        </v-btn>
      </v-card>
    </v-col>
    <v-col cols="9">
      <v-card class="pa-8" flat>
        <div class="d-flex justify-space-between">
          <div class="transition-swing text-h6">Payment Records</div>
          <v-btn
              class="elevation-0">
              Add payment
          </v-btn>
        </div>
        <v-data-table 
        :headers="headers" 
        :items="tableData" 
        class="mt-5"
        disable-sort>
        <template v-slot:item.status="{ item }">
          <v-chip
            :color="item.status === 'successful' ? 'success' : 'warning'"
            outlined
            x-small
          >{{item.status}}
          </v-chip>
        </template>
        <template v-slot:item.action="{ item }">
            <v-btn
              text
              color="primary"
              small
            >
              View
            </v-btn>
            <v-btn
              text
              color="error"
              small
            >
              Delete
            </v-btn>
        </template>
      </v-data-table>
      </v-card>

      <v-card class="px-8 pt-8 mt-4" flat>
        <div class="d-flex justify-space-between">
          <div class="transition-swing text-h6">Payment Method</div>
          <v-btn
              class="elevation-0">
              Add new method
          </v-btn>
        </div>
        <v-expansion-panels>
          <v-expansion-panel v-for="(item, index) in methodData" key="index" class="mt-0">
            <v-expansion-panel-header class="pa-0" disable-icon-rotate>
              <div class="d-flex">
                <v-icon>
                  $expand
                </v-icon>
                <v-list>
                  <v-list-item>
                    <v-list-item-avatar>
                      <img
                        :src="item.imgUrl"
                      >
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        <div class="transition-swing text-body-2 font-weight-medium">
                          <span>{{item.cardName}}</span>
                          <v-chip
                            class="ml-2"
                            :color="item.status === 'Primary' ? 'success' : 'error'"
                            outlined
                            x-small
                          >{{item.status}}
                          </v-chip>
                        </div>
                      </v-list-item-title>
                      <v-list-item-subtitle>
                        <div class="transition-swing text-body-2 muted--text">{{item.expires}}</div>  
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </div>
              <template v-slot:actions>
                <v-icon small role="button">mdi-pencil-outline</v-icon>
                <v-icon small role="button" class="ml-4">mdi-trash-can-outline</v-icon>
                <v-btn
                  text
                  color="primary"
                  small
                  class="ml-4"
                >
                  Set as Primary
                </v-btn>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row dense>
                <v-col cols="6">
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Name</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.name}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Number</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.number}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Expires</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.expires}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Type</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.type}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Issuer</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.issuer}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        ID</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.id}}</div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="6">
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">Billing address</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.billingAddress}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Phone</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.phone}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Email</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.email}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        Origin</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">{{item.origin}}</div>
                    </v-col>
                  </v-row>
                  <v-row dense>
                    <v-col cols="4">
                      <div class="mt-1 transition-swing text-body-2 muted--text">
                        CVC check</div>
                    </v-col>
                    <v-col cols="8">
                      <div class="mt-1 transition-swing text-body-2">
                        <span>{{item.CVCcheck}}</span>
                        <v-icon
                          small
                          :color="item.CVCcheck === 'Passed' ? 'success' : 'error'"
                        >
                          {{item.CVCcheck === 'Passed' ? 'mdi-check-circle' : 'mdi-close-circle'}} 
                        </v-icon>
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
            <v-divider style="border-color: #E4E6EF;border-style: dashed;" v-if="index !== methodData.length - 1"></v-divider>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card>

      <v-card class="pa-8 mt-4" flat>
        <div class="d-flex justify-space-between">
          <div class="transition-swing text-h6">Credit Balance</div>
          <v-btn
              class="elevation-0">
              Adjust Balance
          </v-btn>
        </div>
        <div class="mt-4">
          <div class="transition-swing text-h6">$32,487.57 <span class="transition-swing text-subtitle-1 muted--text font-weight-bold">USD</span></div>
          <div class="transition-swing subtitle-2 muted--text">Balance will increase the amount due on the customer's next invoice.</div>   
        </div>
      </v-card>

      <v-card class="px-8 pb-8 pt-4 mt-4" flat>
        <div class="d-flex justify-space-between align-center">
          <div class="transition-swing text-h6">Invoices</div>
          <v-tabs right>
            <v-tab>This Year</v-tab>
            <v-tab>2020</v-tab>
            <v-tab>2019</v-tab>
          </v-tabs>
        </div>
        <v-data-table 
          :headers="invoicesHeaders" 
          :items="invoicesData" 
          class="mt-5"
          disable-sort>
          <template v-slot:item.amount="{ item }">
            <span
              :class="item.amount > 0 ? 'success--text' : 'error--text'"
              >$ {{item.amount}}
            </span>
          </template>
          <template v-slot:item.status="{ item }">
            <v-chip
              :color="item.status === 'Approved' ? 'success' : 'error'"
              outlined
              x-small
            >{{item.status}}
            </v-chip>
          </template>
          <template v-slot:item.invoice="{ item }">
              <v-btn
                text
                color="primary"
                small
              >
                Download
              </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
      isFormValid: true,
      show: false,
      editItem: {},
      headers: [
        {text: "Invoice No.", value: "No", width: 100},
        {text: 'Status', value: 'status', width: 100},
        {text: 'Amount', value: 'amount', width: 100},
        {text: 'Date', value: 'date', width: 100},
        {text: 'Actions', value: 'action', width: 100},
      ],
      advancedHeaders: [
        {text: "FIELD NAME", value: "name", width: 300},
        {text: 'FIELD VALUE', value: 'value', width: 300},
        {text: 'ACTION', value: 'action', width: 100},
      ],
      invoicesHeaders: [
        {text: "Order ID", value: "orderID", width: 100},
        {text: 'Amount', value: 'amount', width: 100},
        {text: 'Status', value: 'status', width: 100},
        {text: 'Date', value: 'date', width: 100},
        {text: 'Invoice', value: 'invoice', width: 100},
      ],
      tableData: [
        {
          No: '1850-5027',
          status: 'successful',
          amount: '$7,650.00',
          date: '19 Oct 2020, 7:32 am',
        },
        {
          No: '7158-8082',
          status: 'pending',
          amount: '$7,60.00',
          date: '19 Oct 2020, 7:32 am',
        }
      ],
      methodData: [
        {
          cardName: 'Mastercard',
          status: 'Primary',
          imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/card-logos/mastercard.svg',
          id: 'id_4325df90sdf8',
          name: 'Emma Smith',
          number: '**** 2776',
          expires: '12/2024',
          type: 'Mastercard credit card',
          issuer: 'VICBANK',
          billingAddress: 'AU',
          phone: 'No phone provided',
          email: 'smith@kpmg.com',
          origin: 'Australia',
          CVCcheck: 'Passed'
        },
        {
          cardName: 'Visa',
          status: 'Expired',
          imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/card-logos/visa.svg',
          id: 'id_w2r84jdy723',
          name: 'Emma Smith',
          number: '**** 2776',
          expires: '12/2024',
          type: 'Visa credit card',
          issuer: 'VICBANK',
          billingAddress: 'AU',
          phone: 'No phone provided',
          email: 'smith@kpmg.com',
          origin: 'Australia',
          CVCcheck: 'Failed'
        }
      ],
      invoicesData: [
        {
          orderID: '102445788',
          status: 'Approved',
          amount: 7500,
          date: 'Nov 01, 2020',
          invoice: 'xxx'
        },
        {
          orderID: '423445721',
          status: 'Rejected',
          amount: -2.6,
          date: 'Nov 01, 2020',
          invoice: 'xxx'
        }
      ],
      accounts: [
        {
          name: 'Google',
          description: 'Plan properly your workflow',
          imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/brand-logos/google-icon.svg'
        },
        {
          name: 'Github',
          description: 'Keep eye on on your Repositories',
          imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/brand-logos/github.svg'
        }
      ]
  }),
  computed: {

   
  },
  watch: {},
  async created() {
  
  },
  mounted() {
  },
  methods: {
  
  }
})
</script>
<style scoped>
  body span.inputLabel{
    color: #5E6278;
  }
  .muted--text{
    color: #A1A5B7;
  }
  .v-expansion-panel:before{
    box-shadow: none !important;
  }
  .theme--light.v-expansion-panels .v-expansion-panel:not(:first-child):after{
    display: none;
  }
</style>


{% endblock %}
