{% extends 'template/jhTemplateV4.html'%}

{% block vue_template %}

<jh-layout-v4>

  <template slot="serverSearch">
    <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}">
      <v-col cols="8" xs="8" :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}">
        <v-btn class="elevation-0" v-for="(item, index) in constantCollection.subjectCategory" :key="index" 
          :color="selectSubjectCategory === item.value ? 'success' : 'default'" 
          @click="doUiAction('refreshTableData', { subjectCategory: item.value } )" small>
          {{ item.text }}
        </v-btn>
        <v-divider class="mx-2"  vertical></v-divider>
        <v-btn class="elevation-0" 
          :color="selectSubjectCategory === '' ? 'success' : 'default'" 
          @click="doUiAction('refreshTableData', { subjectCategory: '' } )" small>
          全部
        </v-btn>
      </v-col>
      <v-spacer></v-spacer>

      <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}">
        <v-btn class="elevation-0" 
          color="success" 
          @click="doUiAction('updateSubjectBalanceFirst', {} )" small>
          保存
        </v-btn>
      </v-col>
      <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}">
        <v-btn class="elevation-0" 
          color="warning" 
          @click="doUiAction('checkSubjectBalanceFirst', { } )" small>
          试平衡计算
        </v-btn>
      </v-col>
    </v-row>
  </template>

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-card class="rounded-lg">
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
        <span class="title">{{ periodIdFirst }}</span>
        <span style="font-size: 13px;">共{{ tableData.length }}条记录</span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
        <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                  :items-per-page="-1"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  checkbox-color="success"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
      <template v-slot:item.action="{ item }">
        <v-btn x-small @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
        <!-- <v-btn small class=" error" @click="doUiAction('deleteItem', {item})">删除</v-btn> -->
      </template>
    </v-data-table>
  </v-card>
</v-container>

</jh-layout-v4>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || '必填',
    ],
    constantCollection: {
      subjectCategory: [
        {text: '资产', value: '资产'},
        {text: '负债', value: '负债'},
        {text: '权益', value: '权益'},
        {text: '成本', value: '成本'},
        {text: '损益', value: '损益'},
      ],
    },

    isOpenEdit: false,
    periodIdFirst: null,
    periodList: [],

    selectSubjectCategory: '资产',
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "科目编码", value: "subjectId", width: 80, class: 'fixed', cellClass: 'fixed'}, 
      {text: "科目名称", value: "subjectName", width: 250, class: 'fixed', cellClass: 'fixed'}, 
      {text: "科目分类", value: "subjectCategory", width: 100}, 
      {text: "科目余额方向", value: "subjectBalanceDirection", width: 80}, 
      {text: "期初余额-借方", value: "debit", width: 80}, 
      {text: "期初余额-贷方", value: "credit", width: 80}, 
      {text: "本期发生额-借方", value: "debit", width: 80}, 
      {text: "本期发生额-贷方", value: "credit", width: 80}, 
      {text: "本年累计发生额-借方", value: "debit", width: 80}, 
      {text: "本年累计发生额-贷方", value: "credit", width: 80}, 
      {text: "期末余额-借方", value: "debit", width: 80}, 
      {text: "期末余额-贷方", value: "credit", width: 80}, 
    ],

  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {},
  async created() {
    await this.doUiAction('selectPeriodList', {});
    await this.doUiAction('refreshTableData', { subjectCategory: this.selectSubjectCategory });
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'selectPeriodList':
          await this.selectPeriodList();
          break;
        case 'refreshTableData':
          await this.refreshTableData(uiActionData);
          break;
        case 'updateSubjectBalanceFirst':
          await this.updateSubjectBalanceFirst(uiActionData);
          break;
        case 'checkSubjectBalanceFirst':
          await this.checkSubjectBalanceFirst(uiActionData);
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    async selectPeriodList() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'subjectBalanceFirstManagement',
            actionId: 'selectPeriodList',
            actionData: {},
            where: {},
            orderBy: [{column: 'periodId', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;
      this.periodList = rows;
      if (this.periodList.length > 0) {
        this.periodIdFirst = this.periodList[0].periodId
        this.isOpenEdit = this.periodList.length === 1;
      }
    },
    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData({ subjectCategory }) {
      this.isTableLoading = true;
      this.selectSubjectCategory = subjectCategory;
      const where = {};
      if (subjectCategory) {
        where.subjectCategory = this.selectSubjectCategory;
      }
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'subjectBalanceFirstManagement',
            actionId: 'selectItemList',
            actionData: {},
            where,
            orderBy: [{column: 'subjectId', order: 'asc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================
    async updateSubjectBalanceFirst({}) {
    },
    async checkSubjectBalanceFirst({}) {
    },
  }
})
</script>

<style scoped>
</style>
{% endblock %}
