{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}
<jh-layout-v3  v-slot="{ isMobile }">
      <v-card class="pa-8" flat>
        <div>
          <div class="d-flex justify-space-between">
            <div class="transition-swing text-h4 font-weight-bold">INVOICE</div>
            <img style="max-width: 150px;" alt="Logo" src="https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/brand-logos/lloyds-of-london-logo.svg">
          </div>
          <div class="mt-4 text-end transition-swing text-body-1 muted--text">
            <div>Cecilia Chapman, 711-2880 Nulla St, Mankato</div> 
            <div class="mt-2">Mississippi 96522</div>
          </div>
          <div class="mt-4">
            <div class="transition-swing text-h6">Dear Sean Bean <span class="transition-swing text-subtitle-2">(sean@dellito.com)</span>,</div>
            <div class="mt-2 transition-swing subtitle-1 muted--text">Here are your order details. We thank you for your purchase.</div>   
          </div>
        </div>

        <v-divider class="mt-8 mb-6" style="border-color: #E4E6EF;"></v-divider>

        <div>
          <v-row dense>
            <v-col cols="3">
              <div class="mt-1 transition-swing text-body-2 muted--text">Order ID</div>
              <div class="mt-1 transition-swing text-body-1">#14534</div>
            </v-col>
            <v-col cols="3">
              <div class="mt-1 transition-swing text-body-2 muted--text">Date</div>
              <div class="mt-1 transition-swing text-body-1">14 July, 2022</div>
            </v-col>
            <v-col cols="3">
              <div class="mt-1 transition-swing text-body-2 muted--text">Invoice ID</div>
              <div class="mt-1 transition-swing text-body-1">#INV-000414</div>
            </v-col>
            <v-col cols="3">
              <div class="mt-1 transition-swing text-body-2 muted--text">Shipment ID</div>
              <div class="mt-1 transition-swing text-body-1">#SHP-0025410</div>
            </v-col>
          </v-row>
          <v-row dense class="mt-5">
            <v-col cols="6">
              <div class="mt-1 transition-swing text-body-2 muted--text">Billing Address</div>
              <div class="mt-1 transition-swing text-body-1">Unit 1/23 Hastings Road,</div>
              <div class="mt-1 transition-swing text-body-1">Melbourne 3000,</div>
              <div class="mt-1 transition-swing text-body-1">Victoria,</div>
              <div class="mt-1 transition-swing text-body-1">Australia.</div>
            </v-col>
            <v-col cols="6">
              <div class="mt-1 transition-swing text-body-2 muted--text">Shipping Address</div>
              <div class="mt-1 transition-swing text-body-1">Unit 1/23 Hastings Road,</div>
              <div class="mt-1 transition-swing text-body-1">Melbourne 3000,</div>
              <div class="mt-1 transition-swing text-body-1">Victoria,</div>
              <div class="mt-1 transition-swing text-body-1">Australia.</div>
            </v-col>
          </v-row>
        </div>

        <v-data-table 
            :headers="headers" 
            :items="tableData" 
            class="mt-8"
            hide-default-footer
            disable-sort>
            <template v-slot:item.products="{ item, index }">
              <v-list>
                <v-list-item>
                  <v-list-item-avatar>
                    <img
                      :src="item.product.imgUrl"
                    >
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.product.name"></v-list-item-title>
                    <v-list-item-subtitle>
                      Delivery Date: {{item.product.deliveryDate}}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </template>
            <template v-slot:item.total="{ item }">
              $ {{item.total}}
            </template>
            <template v-slot:body.append>
              <tr>
                <td></td>
                <td></td>
                <td class="text-end">Subtotal</td>
                <td class="text-end">$264.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-end">VAT (0%)</td>
                <td class="text-end">$0.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-end">Shipping Rate</td>
                <td class="text-end">$5.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-end transition-swing text-h6">Grand Total</td>
                <td class="text-end transition-swing text-h6">$269.00</td>
              </tr>
            </template>
        </v-data-table>

        <div class="d-flex justify-space-between" style="margin-top: 100px;">
          <div>
            <v-btn
                class="elevation-0">
                Print Invoice
            </v-btn>
            <v-btn
                class="elevation-0 ml-2">
                Download
            </v-btn>
          </div>
          <v-btn
              class="elevation-0"
              color="success">
              Create Invoice
          </v-btn>
        </div>
      </v-card>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
      headers: [
        {text: "Products", value: "products", width: 400},
        {text: 'SKU	', value: 'sku', width: 100, align: 'right'},
        {text: 'QTY', value: 'qty', width: 100, align: 'right'},
        {text: 'TOTAL', value: 'total', width: 100, align: 'right'},
      ],
      tableData: [
        {
          sku: '03480001',
          qty: 1,
          total: '240.00',
          product: {
            name: 'Product 1',
            deliveryDate: '29/08/2022',
            imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media//stock/ecommerce/1.gif'
          }
        },
        {
          sku: '03392003',
          qty: 2,
          total: '240.00',
          product: {
            name: 'Product 2',
            deliveryDate: '29/08/2022',
            imgUrl: 'https://preview.keenthemes.com/metronic8/demo1/assets/media//stock/ecommerce/100.gif'
          }
        }
      ],
  }),
  computed: {

   
  },
  watch: {

  },
  async created() {
  
  },
  mounted() {
  },
  methods: {
  
  }
})
</script>
<style scoped>
  .muted--text{
    color: #A1A5B7;
  }
</style>

{% endblock %}
