{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<!-- 3 table 下  的单表 crud 页面 -->

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'voucherManagement','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='voucherManagement');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'voucherManagement','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"voucher\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='voucherManagement' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'voucherManagement','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"voucher\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='voucherManagement' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'voucherManagement','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"voucher\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='voucherManagement' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'voucherManagement','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"voucher\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='voucherManagement' AND `actionId`='deleteItem');
SQL END!-->

<jh-layout-v3>

  <template slot="serverSearch">
    <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}" style="justify-content: end">
      <v-col cols="12" sm="10" xs="8" md="5" xl="3" :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}">
        <v-select prefix="会计期间" :items="periodList" item-text="periodId" item-value="periodId" hide-details dense filled v-model="serverSearchInput.periodId"></v-select>
      </v-col>

      <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="max-width: 77px">
        <v-btn
          class="elevation-0"
          color="success"
          dark
          @click="doUiAction('refreshTableData')"
        >
          查询
        </v-btn>
      </v-col>
    </v-row>
  </template>

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-card>
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
        <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">录入凭证</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
        <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                  :items-per-page="20"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  group-by="voucherId"
                  checkbox-color="success"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

      <template v-slot:group.header="{items, isOpen, toggle, remove}">
        <td>
          <v-icon @click="toggle">{{ isOpen ? 'mdi-minus' : 'mdi-plus' }}</v-icon>
          <span class="text-subtitle-2">{{ items[0].periodId }} </span>
          <span class="text-subtitle-2">{{ items[0].voucherId }}</span>
        </td>
        <td>
          <span class="text-subtitle-2"> {{ items[0].voucherAt }}</span>
        </td>
      </template>
      <template v-slot:item.voucherId="{ item }">
        <div style="opacity: 0;">{{item.voucherId}}</div>
       </template>
       <template v-slot:item.voucherAt="{ item }">
        <div style="opacity: 0;">{{item.voucherAt}}</div>
       </template>
      <template v-slot:item.subject-name="{ item }">
       {{item.subjectId}} {{item.subjectName}}
      </template>
    </v-data-table>
  </v-card>
</v-container>

<!-- 录入凭证 -->
<v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">录入凭证</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isAddDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
       

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">凭证字号</span>
        <v-select :rules="requireRules" prefix="凭证字" 
          :items="constantCollection.voucherName" dense filled single-line v-model="addItem['voucherName']"></v-select>
        <v-text-field class="cus-v-input " 
          prefix="凭证号" dense filled single-line 
          v-model="addItem.voucherNumber" type="number"></v-text-field>
      </v-col>
       

      <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">凭证时间</span>
        <v-menu
          v-model="isVoucherAtMenuShow"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              :rules="requireRules"
              class="cus-v-input"
              dense filled single-line
              v-model="addItem['voucherAt']"
              label=""
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="addItem['voucherAt']"
            @input="isVoucherAtMenuShow = false"
          ></v-date-picker>
        </v-menu>

      </v-col>

      <!-- <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">会计期间</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem.periodId" disabled="true"></v-text-field>
      </v-col> -->

      <v-col cols="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">凭证条目</span>
        <voucher-management-entry v-model="voucherEntryList" :subject-list="subjectList" :rules="voucherEntryRules"/>
      </v-col> 
       
    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" @click="doUiAction('createItem')" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mb-2': isMobile, 'mr-4': isMobile}">确定</v-btn>
      <v-btn class="ml-2" @click="isAddDrawerShow = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>


</jh-layout-v3>

{% endblock %}

{% block vue_body %}
{% include 'component/voucherManagement-entry.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    voucherEntryRules: [
      v => v.length > 0 || 'Name must be less than 10 characters',
    ],
    constantCollection: {
      voucherName: [
        { text: '记5432', value: '记5432' },
        { text: '记5555', value: '记5555' },
      ]
    },

    serverSearchInput: {
      periodId: null,
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
     
      {text: "凭证号", value: "voucherId", width: 10}, 
      {text: "凭证时间", value: "voucherAt", width: 10}, 

      {text: "科目", value: "subject-name", width: 120}, 
      {text: "摘要", value: "entryAbstract", width: 120}, 
      {text: "借方金额", value: "debit", width: 80}, 
      {text: "贷方金额", value: "credit", width: 80}, 
    
      // {text: "操作者", value: "operationByUser", width: 120},
      // {text: "操作时间", value: "operationAt", width: 250},
    ],
    isAddDrawerShow: false,
    addItem: {},
    isVoucherAtMenuShow: false,
    periodList: [],
    subjectList: [],
    voucherEntryList: [],
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {
    'addItem.voucherName'() {
      this.updateAddItemVoucherNumber()
    }
  },
  async created() {
    await Promise.all([
      this.doUiAction('refreshTableData'),
      this.doUiAction('getPeriodList'),
      this.doUiAction('getSubjectList'),
      // Tip: 测试代码
      // this.doUiAction('startCreateItem'),
    ])

  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'getPeriodList':
          await this.getPeriodList();
          break;
        case 'getSubjectList':
          await this.getSubjectList();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.computePeriodId();
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'voucherManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: serverSearchInput,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================
    async getPeriodList() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'voucherManagement',
            actionId: 'selectPeriodList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.periodList = rows;
    },

    async getSubjectList() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'voucherManagement',
            actionId: 'selectSubjectList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.subjectList = rows;
    },

    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
    */
    async clearItemData() {
      this.addItem = {
        // Tip: 测试
        voucherName: this.constantCollection.voucherName[0].value,
        voucherAt: dayjs().format("YYYY-MM-DD"),
      };
      this.voucherEntryList = []
    },

    
    async updateAddItemVoucherNumber() {
      if (!this.addItem.voucherName) {
        this.addItem.voucherNumber = null;
        return;
      }
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'voucherManagement',
            actionId: 'selectNextVoucherNumber',
            actionData: { voucherName: this.addItem.voucherName },
          }
        }
      });
      const { voucherNumber } = result.data.appData.resultData;
      // Bug: 为啥更新不上去? 因为vue的更新机制，只有预先定义在data中的数据才有响应式更新
      this.addItem = {
        ...this.addItem,
        voucherNumber: voucherNumber
      };
    },

    async openCreateItemDialog() {
      this.isAddDrawerShow = true;
    },

    async computePeriodId () {
      const { voucherAt } = this.addItem;
      const periodId = dayjs(voucherAt).format("YYYY-MM");

      if (this.periodList.findIndex(p => p.periodId === periodId) === -1) {
        window.vtoast.fail("凭证时间匹配不到会计期间!");
        throw new Error("取消");
      }
      this.addItem.periodId = periodId;
    },
    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, ...data } = this.addItem;
      const voucherEntryList = this.voucherEntryList
      
      //判断借贷是否平衡
      const debitPrice = voucherEntryList.filter(item=> item.debit != 0)
      .reduce((prev, next)=> next.debit + prev, 0)
      const creditPrice = voucherEntryList.filter(item=> item.credit != 0)
      .reduce((prev, next)=> next.credit + prev, 0)
      if (debitPrice != creditPrice) {
        window.vtoast.fail({ message: "借贷不平衡!" });
        throw new Error("[doCreateItem] false");
      }


      await window.vtoast.loading("录入凭证");
      const res = await Promise.all([
        window.jianghuAxios({
          data: {
            appData: {
              pageId: 'voucherManagement',
              actionId: 'createVoucherAndVoucherEntry',
              actionData: {
                ...data,
                voucherEntryList
              }
            }
          }
        }),
      ])
      console.log('voucherManagement', res)
      await window.vtoast.success("录入凭证成功");
    },
    async closeDrawerShow() {
      this.isAddDrawerShow = false;
    },

  }
})
</script>

<style scoped>
</style>
{% endblock %}
